
// .nav{
//     display: block;
// }
.home {  
    display: flex;
    background-color: #e5e5e5;
    width: 100%;
    .homeContainer {
     width: 100%;
        flex: 6;
        // padding-top: 7px;

       
        .widgets {
            display: flex;
            padding: 20px;
            gap: 20px;
        }

        .user-head {
           padding-left: 20px;
            margin-top: 30px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #213F7D;
        }
    }
    
}
@media(max-width:900px){
    .side{
        display: none;
    }
    .nav{
        display: none !important;
    }
    .home{overflow-x: hidden;}
}